/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin {
  background-color: #414141 !important;
}

.mat-slide-toggle-thumb {
  background-color: #414141 !important;
}

.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: #4b4547 !important;
}

.mat-form-field-flex.ng-tns-c75-1 {
  background: linear-gradient(
    90deg, rgba(22,28,36,1) 10%, rgba(170,176,184,1) 100%);
}

.ng-tns-c75-1.ng-star-inserted, .mat-select-min-line.ng-tns-c88-2.ng-star-inserted{
  color: white;
}

mat-error {
  color: black !important;
}

.ngx-timepicker {
  border: none !important;
  margin-top: 10px;
}
